@media only screen {
  body {
    background: #24292f;
    color: #eaeef2;
    font-family: sans-serif;
    font-size: 0.8em;
    line-height: 1.5;
    margin: 16px auto 16px auto;
    max-width: 700px;
    padding: 0 16px 0 16px;}
  h1 {
    font-family: serif;
    font-size: 48px;
    line-height: 68px;
    letter-spacing: 0.3em;
    font-weight: 800;
    margin-bottom: 0;
    text-align: center;}
  h2 {
    font-size: 2em;
    line-height: 34px;
    letter-spacing: 0.3em;
    font-weight: 600;
    margin-bottom: 4px;}
  p {
    padding-left: 0;}
  a {
    color: #7fabdf;
    text-decoration: none;}
  a:hover,  a:active {
    background: #7fabdf;
    color: #24292F;}
  li {
    list-style-type: none;}
  blockquote {
    border-left: 4px solid #eaeef2;
    padding-left: 6px;}
  .footer {
    font-size: 0.8em;
    margin-top: 32px;
    text-align: center;}
  .description {
    margin: 0;}
  .list-box {
    background: #272828;
    border: 1px solid transparent;
    border-radius: 1em;
    padding: 16px;
    margin-top: 0;}
  .label {
    background: #7fabdf;
    color: #272828;
    border-color: transparent;
    padding: 0 7px;
    font-family: monospace;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 1em;
    margin-right: 8px;
    margin-left: 8px;}
/*Typing effect*/
  .wrapper {
    height: 90vh;
    display: grid;
    place-items: center;}
  .typing-demo {
    width: 27ch;
    animation: typing 2s steps(20), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: serif;
    font-size: 1em;
    letter-spacing: 0.2em;}
@keyframes typing {
  from {
    width: 0;}}
@keyframes blink {
  50% {
    border-color: transparent;}}
/*Form*/
  .form {
    position: relative;
    z-index: 1;
    background: #24292F;
    max-width: 360px;
    margin: 100px auto 100px;
    padding: 45px;
    text-align: center;}
  .form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 8px;
    box-sizing: border-box;}
  .form button {
    text-transform: uppercase;
    outline: 0;
    background: #39689f;
    width: 100%;
    border: 0;
    padding: 8px;
    color: #FFFFFF;
    cursor: pointer;}
  .form button:hover,.form button:active,.form button:focus {
    background: #1c4574;}
  .form .message {
    margin: 15px 0 0;}
}

